.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after: {
  box-sizing: inherit;
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  font-family: var(--primery-font);
  font-style: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*h1,
h2,
h3,
ul,
p {
  margin: 0px;
  padding: 0px;
}*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  background-color: lavender;
  border: 1px solid turquoise;
}

/* =======Header=======*/
.logo-up {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo:focus {
  color: var(--accent-color);
}
.logo-accent {
  color: var(--accent-color);
}
.menu-list,
.contact-top-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-list .link {
  color: var(--title-text-color);
}
.menu-list .link:hover,
.menu-list .link:focus,
.menu-list .current,
.contact-top-list .link:hover,
.contact-top-list .link:focus {
  color: var(--accent-color);
}

.contact-top-list .link {
  color: var(--primary-text-color);
}

/* ======Hero====== */
.slogan {
  text-align: center;
  color: var(--hero-text-color);
  background-color: var(--hero-background-color);
}
.slogan-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  display: inline-block;
  min-width: 136px;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
}

/* ======Basics===== */
.basics {
  padding-top: 94px;
}
.basics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.basics-desc {
  font-size: 14px;
  line-height: 1.71;
}
/* ======About====== */
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}
.team {
  background-color: #f5f4fa;
}
.team-img {
  margin-top: 0px;
  margin-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 10px;
}
.team-profession {
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* ======Footer====== */
.footer {
  background-color: var(--hero-background-color);
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hero-text-color);
}
.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--hero-text-color);
}

.footer-contact .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact .link:hover,
.footer-contact .link:focus {
  color: var(--accent-color);
}
/* =====Portfolio===== */

.btn-filter {
  padding: 6px 22px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  display: inline-block;
  min-width: 73px;
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}
.projects-img {
  margin-top: 0px;
  margin-bottom: 20px;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 4px;
}

.projects-desc {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 20px;
}
